/* Universal Styles*/

html {
  font-size: 18px
}

body {
  color: #363636;
  font-family: 'Roboto', helvetica, sans-serif;;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
}

p {
  font-weight: 300;
  font-size: .75rem;
  line-height: 1.3rem;
}

.container {
  width: 100%;
}

.left {
  width: 60%;
  height: auto;
  padding: 36px 24px;
}

.right {
  width: 40%;
  height: 100%;
}


/* Nav Bar */

.nav-bar {
  height: 64px;
}

.nav-bar .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: 16px 5px 16px 24px;
}

.logo span {
  margin: 16px 0px;
  font-size: 16px;
}

#colmar {
  color: #363636;
  font-family: 'Biryani', helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;

}

#academy {
  color: #767676;
  font-family: 'Biryani', helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

nav {
  margin-right: 24px;
}

nav li {
  color: #363636;
  display: inline-block;
  margin-left: 16px;
  font-family: helvetica, sans-serif;
  font-size: 14px;
}


/* Banner */

.banner {
  background-color: #D3D3D3;
  width: 100%;
}

.banner .flex-container {
  display: flex;
  justify-content: flex-start;
}

.banner .content {
  display: flex;
  align-items: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner .left {
  background-color: rgba(220,215,215, 0.9);
}

.banner .right {
  display: flex;
  align-items: center;
}

.banner .text {
  display: block;
  align-items: center;
  margin-left: 24px;
}

.banner h3 {
  margin: 2rem 0;
}

.button p {
  margin: 24px 0;
}

.button span {
  color: #FFFFFF;
  background-color: #363636;
  padding: 8px 100px;
}


/* info */

.info .flex-container {
  display: flex;
  justify-content: flex-start;
}

.info .left .text {
  margin-top: 32px;
}

.info .left img {
  width: 100%;
  height: auto;
}

.info .left p {
  margin: 24px 0;
}

.info .left span {
  color: #000000;
  font-size: .6rem;
  font-weight: 400;
}

.info .right {
  display: block;
  padding-top: 16px;
}

.info .right .info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}

.info .right .info-item:hover {
  background-color: #D3D3D3;
}

#middle-box {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.info .right .info-item img {
  width: 35%;
  height: auto;
}

.info .right .info-item .text {
  margin: 0 16px;
}

.info .right span {
  color: #2f86ff;
  font-size: .75rem;
}

/* Course */

.course {
  background-color: #D3D3D3;
  width: 100%;
}

.course .flex-container {
  display: flex;
  justify-content: center;
}

/* Course */

.course {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course .title {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.course .flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 72px;
}

.course .item {
  width: 25%;
  height: auto;
  margin: 16px;
}

.course .item img {
  width: 100%;
  height: auto;
}

.course .text span {
  font-size: .75rem;
  margin: 8px 0;
}


/* Thesis */

.thesis {
  width: 100%;
  display: block;
  justify-content: center;
}

.thesis .title {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.thesis .flex-container {
  display: flex;
}

.thesis .left video {
  width: 100%;
  height: auto;
}

.thesis .right {
  padding-top: 16px;
}

.thesis .right .item {
  display: flex;
  align-items: center;
  padding: 16px;
}

.thesis .right .item:hover {
  background-color: #D3D3D3;
}

.thesis .right img {
  width: 35%;
  height: auto;
}

.thesis .right .text {
  width: 65%;
  margin-left: 16px;
}

/* Footer */
footer {
  width: 100%;
  height: 75px;
  border-top: solid 1px #D3D3D3;
}

footer .flex-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0 24px;
}

footer span {
  font-size: .75rem;
  margin: 8px;
}

/* Google Fonts */

@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 300;
  src: local('Biryani Light'), local('Biryani-Light'), url(https://fonts.gstatic.com/s/biryani/v3/hv-TlzNxIFoO84YddeAxKTdYUsB9VxU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  src: local('Biryani Regular'), local('Biryani-Regular'), url(https://fonts.gstatic.com/s/biryani/v3/hv-WlzNxIFoO84YdfUsTPBp6X-o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  src: local('Biryani Bold'), local('Biryani-Bold'), url(https://fonts.gstatic.com/s/biryani/v3/hv-TlzNxIFoO84YddfA2KTdYUsB9VxU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
